# Postgres
POSTGRES_USER=bank_admin
POSTGRES_PASSWORD=change-me

# JWT
JWT_SECRET=change-me-min-64-chars-strongly-random-base64-or-hex

# KLIK integration
KLIK_BASE_URL=http://host.docker.internal:8000/api/v1
KLIK_API_KEY=klik_xxx_get_from_klik_admin
KLIK_ZONE=PL

# Cards provider integration (Karty Płatnicze)
CARDS_GATEWAY_URL=http://cards_gateway_app:8000
CARDS_PROVIDER_API_KEY=bank-key-pl-a
CARDS_PROVIDER_HMAC_SECRET=secret-pl-a-hmac
CARDS_PROVIDER_BIN=410001
CARDS_PROVIDER_ADMIN_KEY=admin-secret-key-2026