# Java & Gradle
.gradle/
build/
bin/
!gradle/wrapper/gradle-wrapper.jar

# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# IDE - IntelliJ IDEA
.idea/
*.iml
*.iws
out/
.run/

# IDE - VS Code
.vscode/
.factorypath

# OS related files
.DS_Store
Thumbs.db

# Docker related
.env